<div class="background-cover">
  <div class="row text-center quickbed">
    <div class="text-center">
     <%= image_tag "quickbed_logo.png", class: "base-logo" %>
    </div>
    <p class="punchline">La technologie au service de l'hébergement d’urgence</p>
  </div>
  <div class="row options">
    <div class=" col-sx-12 col-sm-6">
      <div class="card card-block text-center">
        <h3 class="card-title option-title ">Vous êtes un Hotelier</h3>
        <p class="card-text">Par ici si vous souhaitez accueillir des réfugiés.</p>
        <%= link_to "Découvrir la plateforme", "#", class: "btn btn-success btn-lg js-subscription-form" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card card-block text-center">
        <h3 class="card-title option-title">Vous êtes un Organisme</h3>
        <p class="card-text">Par ici si vous faites parti d'une association aidant les réfugiés à trouver un logement.</p>
        <%= link_to "Découvrir la plateforme", "#", class: "btn btn-success btn-lg js-subscription-form" %>
      </div>
    </div>
  </div>
</div>
  <div class="row" id="story">
    <h1 class= "text-center">Pourquoi Quickbed ?</h1>
  </div>

  <div class="row  feature-helper">
    <h2 class="text-center subtitle">Pour les Associations : un service <strong>gratuit</strong></h2>
    <div class="col-sm-4 col-xs-12">
      <div class="text-center">
        <div class="functionnality_desc ">
          <div class="adjust">
            <i class="fa fa-cog fa-5x" aria-hidden="true"></i>
          </div>
          <h3>Simplifiez votre process de placement de résidents</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="text-center">
        <div class="functionnality_desc">
          <i class="fa fa-bed fa-5x" aria-hidden="true"></i>
          <h3>Trouvez des logements rapidement et adaptés à vos besoins</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="text-center">
        <div class="functionnality_desc">
          <i class="fa fa-money fa-5x" aria-hidden="true"></i>
          <h3> Gérez, groupez et payez vos factures en quelques clic</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row feature-host">
    <h2 class="text-center subtitle">Pour les Hoteliers : une solution <strong>optimale</strong></h2>
    <div class="col-sm-4 col-xs-12 text-center">
      <div class="functionnality_desc">
        <i class="fa fa-h-square fa-5x" aria-hidden="true"></i>
        <h3>Remplissage de votre hotel simple et social sans variations saisonnières</h3>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12 text-center ">
      <div class="functionnality_desc">
        <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i>
        <h3>Gestion automatisé et facile des factures</h3>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12 text-center">
      <div class="functionnality_desc">
        <i class="fa fa-thumb-tack fa-5x" aria-hidden="true"></i>
        <h3>Gestion optimale de vos taches journalières</h3>
      </div>
    </div>
  </div>
  <div class="row subscribe" id="subscription_form">
    <h1 class="text-center">Soyez premier à tester !</h1>
    <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
      <%= simple_form_for @user, url: users_path do |f| %>
        <%= f.error_notification %>
        <div class="form-group">
          <%= f.input :first_name, label: "Prénom", class: "form-control", placeholder: "Jean"%>
        </div>
        <div class="form-group">
          <%= f.input :last_name, label: "Nom", class: "form-control", placeholder: "Dupond" %>
        </div>
        <div class="form-group">
          <%= f.input :email, label: "Email", class: "form-control", placeholder: "dupond@gmail.com" %>
        </div>
        <div class="form-group">
          <%= f.input :organisation, label: "Société", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.input :organisation_type, label: "Qui êtes vous?", class: "form-control" %>
        </div>
        <div class="form-group text-center">
          <%= f.submit "Demander une Démo", class: "btn btn-lg btn-primary" %>
          <p>Nous vous rappellerons dans les plus brefs délais</p>
        </div>
      <% end -%>
    </div>
  </div>
</div>

