<!DOCTYPE html>
<html>
<head>
  <title>Quickbed</title>
  <meta name="description" content="La technologie au service de l'hébergement d'urgence"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:image" content="http://www.quickbed.org/quickbed_blue_background.png"/>
  <%= render 'shared/favicon'%>
</head>
<body>
  <%= render 'shared/navbar'%>
 <%= render 'shared/flashes' %>

<%= yield %>

</body>
</html>
